<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <stud-list></stud-list> -->

<!-- < class="card-container"> -->

<!-- <div class="row col-md-12">
<div class="card-group"> -->
    
    <!-- <li> -->
        <!-- <div class="col-md-3">
        <div class="card">
        
      
      <div class="card-body">
        <h5 class="card-title">Component 1</h5>
        <p class="card-text"><app-component1></app-component1></p>
    </div>
      </div>
    </div> -->
<!-- </li> -->
    <!-- <li> -->
        <!-- <div class="col-md-3">
        <div class="card">
        
      <div class="card-body">
        <h5 class="card-title">Component 2</h5>
        <p class="card-text"><app-component2></app-component2></p>
      </div>
      </div>
    </div> -->
<!-- </li> -->
    <!-- <li> -->
        <!-- <div class="col-md-3">
        <div class="card">
        
      <div class="card-body">
        <h5 class="card-title">component 3</h5>
        <p class="card-text"><app-component3></app-component3></p>
      </div>
      </div>
    </div> -->
<!-- </li> -->
    <!-- <li> -->
        <!-- <div class="col-md-3">
        <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">component 4</h5>
          <p class="card-text"><app-component4></app-component4></p>
        </div>
        </div>
      </div> -->
    <!-- </li> -->
    <!-- </div> -->
  <!-- </div> -->


  
<!-- <app-component1></app-component1> -->
<!-- <app-component2></app-component2>
<app-component3></app-component3>
<app-component4></app-component4> -->
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 p-5">
        <app-component1></app-component1>
    </div>
    <div class="col-md-4 p-5">
        <app-component2></app-component2>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 p-5">
        <app-component3></app-component3>
    </div>
    <div class="col-md-4 p-5">
        <app-component4></app-component4>
    </div>
</div>